.assign-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.assign-category input {
  margin: 0 .2rem;
}

.assign-category label {
  font-size: .5rem;
}

@media (min-width: 992px) and (orientation: landscape) {
  .assign-category label {
    font-size: 1rem;
  }
  .assign-category input {
    width: .5rem;
    height: .5rem;
  }
  .material-icons {
    font-size: 1.5rem;
  }
}
