.delete-confirmation h3 {
  margin: 0;
  color: red;
}

.delete-confirm-flex {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.delete-confirmation button {
  color: white;
  background-color: black;
}

@media (min-width: 768px) {
  .delete-confirmation button {
    font-size: 1.5rem
  }
}
