.edit-form {
  width: 100%
}

.edit-form textarea {
  width: 100%
}

.edit-form-thumbnails {
  display: flex;
}

.edit-thumbnail {
  position: relative
}

.edit-form .upload-file-flex div,
.edit-form .upload-file-flex i {
  color: black;
}

.edit-form .upload-file-flex div,
.edit-form .upload-file-flex button {
  border: black solid .01rem;
}
