.add-video-url {
  display: flex;
  flex-grow: 1;
  border: white solid;
}

.add-video-url button {
  padding: 0;
  margin: 0;
}

.add-video-url label {
  background-color: white;
}

.add-video-url i {
  line-height: 1rem;
  font-size: 1rem;
  color: white;
  padding-top: .1rem;
}

.upload-file-flex {
  display: flex;
  height: 1.5rem;
}

#video-url-input {
  font-size: .5rem;
  min-width: max-content;
  flex-grow: 1;
}

@media (min-width: 576px) {
  #video-url-input {
    font-size: .75rem;
  }
  .upload-file-flex {
    height: 2rem;
  }
  .add-video-url i {
    font-size: 1.5rem;
    padding-top: .3rem;
  }
}

@media (min-width: 768px) {
  .upload-file-flex {
    height: 3rem;
  }
  .add-video-url i {
    font-size: 2rem;
    padding-top: .6rem;
  }
  #video-url-input,
  .dropzone label {
    font-size: 1rem;
  }
}
