#editor-home main {
  margin: 0 auto;
  padding: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.editor-buttons {
  width: 100%;
  color: black;
  background-color: green;
}

@media (min-width: 576px) {
  .editor-buttons {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .editor-buttons {
    font-size: 2rem;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .editor-buttons {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (orientation: landscape) and (orientation: landscape) {
  .editor-buttons {
    font-size: 2rem;
  }
}
