.edit-results-flex {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin: .25rem auto;
}

.edit-description h4 {
  height: 4rem;
  overflow-y: auto;
}

.inner-collapsible h4 {
  margin: 0 .2rem 0 0;
}

.inner-collapsible p {
  font-size: .5rem
}
