#editor-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

#editor-login main {
  padding: 4rem 0;
}

#editor-login button {
  margin-right: 1rem;
  line-height: 1rem;
  width: max-content;
  font-size: .75rem;
}

@media (min-width: 576px) {
  #editor-login button {
    font-size: 1.5rem;
    margin-right: 3rem;
    line-height: 2rem;
  }
  #editor-login main {
    padding: 8rem 0;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #editor-login main {
    padding: 4rem 0;
  }
}
