#editor-login button {
  width: max-content;
  font-size: .75rem;
  margin-top: 2rem;
  background-color: #89c77e8c;
  color: black;
  border-radius: .3rem;
  margin-right: 1rem;
}

#editor-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

  #editor-login main {
    padding: 4rem 0;
}

@media (min-width: 576px) {
  #editor-login button {
    font-size: 1.5rem;
    margin-right: 3rem;
  }
  #editor-login main {
    padding: 8rem 0;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #editor-login main {
    padding: 4rem 0;
  }
}
