.node-preview {
  font-size: .6rem;
  fill: black;
  stroke: none;
}

.node-preview .smaller {
  font-size: .5em
}

.node-preview text {
  fill: white;
}

.graph-thumbnail foreignObject {
  overflow: visible;
}

.node-preview .exit {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .node-preview {
    font-size: .75rem;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .node-preview {
    font-size: 1rem
  }
  .node-preview .smaller {
    font-size: .75em
  }
}
