#user-home {
  background-color: #9f9f9f;
}

#user-home .logo {
  margin: 0 auto;
  position: relative;
}

.user-browse {
  flex-grow: 2
}

.large-home-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 85vh
}

.small-home-container {
  height: 85vh
}
