.user-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.user-search input {
  border: none;
  height: 1rem;
  background-color: lightgray;
  font-size: .75rem;
  padding: 0 .25rem;
}

.user-search button {
  width: 1rem;
  height: 1rem;
  margin: 0;
  background-color: rgb(60, 40, 115);
}

@media (min-width: 576px) {
  .user-search input {
    font-size: 1rem;
    height: 1.25rem;
  }

  .user-search button {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (min-width: 768px) {
  .user-search input {
    height: 1.5rem;
    font-size: 1.25rem;
    width: 100%;
    margin-left: unset;
  }

  .user-search {
    margin: 1rem auto;
    width: 60%;
  }

  .user-search button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 992px) and (orientation: landscape) and (orientation: landscape) {
  .user-search {
    margin-left: 1rem;
    justify-content: flex-start;
  }

  .user-search input {
    font-size: 1rem;
    height: 1.25rem;
    width: 12rem;
  }

  .user-search button {
    width: 1.25rem;
    height: 1.25rem;
  }
}
