#user-search-results {
  margin: 1rem 0 0 0;
}

#user-search-results button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0;
}

.top-bar {
  height: 1.5rem;
  background-color: #6f6f6f;
}

@media (min-width: 992px) and (orientation: landscape) {
  #user-search-results h3 {
    font-size: 1.5rem
  }
}
