.collaps-container {
  margin: auto;
  width: 100%;
  padding: 0;
}

.result-item {
  padding: 0 .25rem;
  border: solid #9f9f9f3d .05rem;
}


@media (min-width: 992px) and (orientation: landscape) {
  .result-item {
    padding: 0 .75rem;
  }
}
