.logo {
  display: block;
  margin: 0 auto;
  padding-top: .5rem;
  height: 15vh;
}

.logo:hover,
.logo:active {
  filter: invert(27%) sepia(51%) saturate(1000%) hue-rotate(346deg) brightness(150%) contrast(70%);
}

@media (min-width: 576px) {
  .logo {
    padding-top: 1rem;
  }
}
