.logo {
  display: block;
  margin: 0 auto;
  padding: .5rem 0;
  width: 80%;
}

@media (min-width: 576px) {
  .logo {
    width: 70%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .logo {
    width: 30%;
  }
}
