html {
  font-size: 30px;
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Epittazio';
  src: url('fonts/Epittazio.ttf');
}

h3 {
  font-size: .5rem;
}

h4 {
  font-size: .25rem;
}

p {
  margin: 0 auto;
}

b {
  font-weight: 400;
}

ul {
  list-style: none;
  padding-inline-start: .5rem;
}

a {
  text-decoration: none;
}

/* unvisited and visited link */
a:link,
a:visited {
 color: black;
}

/* mouse over and selected link */
a:hover,
a:active {
 color: pink;
}

button {
  display: block;
  margin: .5rem auto;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form {
  padding: .5rem;
  font-size: .75rem;
}

main {
  width: 95vw;
  margin: 0 auto;
}

.page {
  height: 100vh;
  width: 100vw;
  border: .01rem solid black;
}

.check {
  font-family: wingdings2;
}

.delete {
  font-family: wingdings2;
  float: right;
}

.back {
  font-family: wingdings;
  position: absolute;
  top: -2rem;
  left: .2rem;
}

.exit {
  font-family: wingdings2;
}

.edit {
  font-family: wingdings2;
  font-size: .75rem;
}

.edit-files,
.remove-files {
  position: absolute;
  top: 0;
  right: 0;
}

.submit-edit {
  font-family: wingdings;
  font-size: .75rem;
}

.button {
  display: block;
  margin: .5rem auto;
}

.float-right {
  float: right;
}

.clear-fix {
  overflow: auto
}

.clear {
  clear: both;
}

.hidden {
  display: none !important;
}

.forgot-psw {
  font-size: .5rem;
}

.pop-up {
  position: absolute; /* Stay in place */
  z-index: 10; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; */
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  background: white
}

.thumbNail {
  height: 100px;
  width: 100px;
  position: relative;
}

.thumbNail img {
  max-width: 100%
}


#editor-upload main,
#editor-find main,
#editor-find-results main,
#editor-view-edit main {
  position: relative;
}
